In [53]:
import numpy as np
import pandas as pd
pd.set_option("display.max_rows", None, "display.max_columns", None)

import seaborn as sn
import matplotlib.pyplot as plt
%matplotlib inline

## Question 1

What's the version of NumPy that you installed?

In [54]:
np.__version__

'1.18.5'

## Question 2

What's the version of Pandas?

In [55]:
pd.__version__

'1.0.5'

In [56]:
df = pd.read_csv("data.csv")
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

## Question 3

What's the average price of BMW cars in the dataset?

In [57]:
df_BMW = df.loc[df['Make'] == 'BMW']
average_price = df_BMW['MSRP'].mean()
print("Average price of BMW cars in the dataset: " + str(average_price))

Average price of BMW cars in the dataset: 61546.76347305389

## Question 4

Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after). How many of them have missing values for Engine HP?

In [58]:
df_subset = df.loc[df['Year'] >= 2015]

missing_values = df_subset['Engine HP'].isnull().values.ravel().sum()

print(str(missing_values) + " of them have missing values for Engine HP")

51 of them have missing values for Engine HP

## Question 5

Calculate the average "Engine HP" in the dataset.
Use the fillna method and to fill the missing values in "Engine HP" with the mean value from the previous step.
Now, calcualte the average of "Engine HP" again.
Has it changed?

In [59]:
average_EngineHP = df['Engine HP'].mean()
average_EngineHP

249.38607007176023

In [60]:
df_EngineHP = df['Engine HP']
df_EngineHP.fillna(average_EngineHP)
average_new_EngineHP = df_EngineHP.mean()
average_new_EngineHP

249.38607007176023

In [61]:
average_EngineHP != average_new_EngineHP

False

## Question 6

Select all the "Rolls-Royce" cars from the dataset.
Select only columns "Engine HP", "Engine Cylinders", "highway MPG".
Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 7 rows).
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Invert XTX.
What's the sum of all the elements of the result?

In [63]:
df_RollsRoyce = df.loc[df['Make'] == 'Rolls-Royce']
df_new = df_RollsRoyce[['Engine HP', 'Engine Cylinders', 'highway MPG']]
df_new = df_new.drop_duplicates()
df_new

       Engine HP  Engine Cylinders  highway MPG
2921       325.0               8.0           15
3505       563.0              12.0           19
5275       563.0              12.0           21
5279       563.0              12.0           20
7443       322.0              12.0           15
7553       453.0              12.0           19
11448      624.0              12.0           21

In [79]:
X = df_new.to_numpy()
XTX = np.dot(X.T, X)
inverse = np.linalg.inv(XTX)
inverse

array([[ 5.17815728e-05,  9.06587044e-04, -1.92984188e-03],
       [ 9.06587044e-04,  1.05723058e-01, -8.87084092e-02],
       [-1.92984188e-03, -8.87084092e-02,  1.05900809e-01]])

In [80]:
(inverse).sum()

0.032212320677486125

## Question 7

Create an array y with values [1000, 1100, 900, 1200, 1000, 850, 1300].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the value of the first element of w?.

In [84]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])
w = np.dot(np.dot(inverse, X.T), y)
w[0]

0.19989598183188972